<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" parallel="none" thread-count="1">
  <test name="testng_pom">
  <parameter name="browser" value="firefox"></parameter>
    <classes>
<!--        <class name="com.lmsauto.tests.HRListUsersRecordsTest"> -->
<!--        <methods> -->
<!--  	   		<include name="paginationCountTest"></include>  -->
<!-- 	   		<include name="pagePerCountTest"></include> -->
<!-- 	   	</methods> -->
<!-- 	   	</class> -->
<!-- 	   <class name="com.lmsauto.tests.HRNewUserCreationTest"/> -->
<!-- 	   <class name="com.lmsauto.tests.HRQuickUserTest"></class> -->
	   <class name="com.lmsauto.tests.UserProfileTest"></class>
    </classes>
  </test> <!-- testng_pom -->
</suite> <!-- Suite -->
